#main-header {
	position: fixed;
	margin-left: 30px;
	min-width: 315px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000090;
  height: 47px;
  border-bottom: 1px solid #CCCCCC;
  background-color: #fff;
  margin-bottom: 12px;
  box-shadow: 0px 1px 6px 0px rgba(176,176,176,1);
  clear: both;
  display: inline-block;
}

button {
	border: 0;
}

.header-left-buttons {
	position: relative;
	left: -15px;
	margin-top: 8px;
	display: inline-block;
}

.sections-button {
	height: 30px;
	border-bottom-color: #cecece;
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.02);
	margin-right: 6px;
	font-weight: 700;
	border: 1px solid #e2e2e2;
}

.button {
	border-radius: 3px;
	padding: 7px 9px;
	box-sizing: border-box;
	background-color: #fff;
}

.button-text {
	vertical-align: middle;
	font-weight: 700;
	font-size: 10px;
	margin-left: 9px;
	margin-right: 7px;
}

.sprite-icon {
	background-image: url(https://a1.nyt.com/assets/article/20161123-103326/images/sprite/sprite-no-repeat.svg);
	background-position: -443px -215px;
}

.home-icon {
	background-image: url(https://a1.nyt.com/assets/article/20161206-111757/images/sprite/sprite-no-repeat.svg);
  background-position: -51px -280px;
}

.search-icon {
	background-image: url(https://a1.nyt.com/assets/article/20161206-111757/images/sprite/sprite-no-repeat.svg);
  background-position: -357px -214px;
}

.icon {
	display: inline-block;
  line-height: 0;
  vertical-align: middle;
  font-style: normal;
  width: 16px;
  height: 16px;
  margin-top: -1px;
  background-repeat: no-repeat;
}

.branding-heading {
	text-align: center;
	margin-left: -30px;
	margin-top: -30px;
}

.header-right-buttons {
	float: right;
	margin-top: 8px;
}

.header-right-buttons span {
	color: #fff;
}

.blue-button {
	background-color: #6288a5;
}

.settings-button {
	margin-right: 30px;
}

.settings-icon {
	background-image: url(https://a1.nyt.com/assets/article/20161206-111757/images/sprite/sprite-no-repeat.svg);
	background-position: -494px -214px;
}

body {
	font-family: sans-serif;
  color: #333;
}

#sidebar {
	width: 30px;
	position: fixed;
	height: 100%;
	box-shadow: 0px 1px 6px 0px rgba(176,176,176,1);
}

#article-suggestions {
	position: relative;
  height: 100px;
  overflow: hidden;
  z-index: 1000000030;
  border-top: 1px solid #ccc;
  margin-left: 30px;
}

#center {
	margin-top: 7px;
}

main {
	width: 1125px;
	margin-right: 113px;
	margin-left: 113px;
	margin-bottom: 20px;
}

#article-header {
  margin-bottom: 20px;	
}

.kicker {
	font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #000;
  margin-bottom: 6px;
}

.kicker-label {
	font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  letter-spacing: 0.05em;
}

.headline {
	font-size: 2.125rem;
	font-weight: 700;
	margin-bottom: 10px;
}

#story-footer {
	padding-top: 14px;
  border-top: 1px solid #e2e2e2;
}

.image-container {
	margin-bottom: 7px;
	display: block;
}

img {
	height: auto;
	max-width: 100%;
}

figcaption {
	max-width: 615px;
	font-size: 0.875rem;
	line-height: 1.125rem;
	font-weight: 300;
	margin-bottom: 45px;
	color: #666;
}

.credit {
	font-size: 0.6975rem;
	color: #999;
	line-height: 1.5;
}

.credit-container {
	
}

.story-body {
	width: 705px;
}

.story-body-text {
	width: 570px;
	margin-left: 75px;
	margin-bottom: 17px;
	line-height: 1.625rem;
	font-size: 1.0625rem;
}

strong {
	font-weight: 700;
}

.interactive-headline {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 3px;
}

#theory-of-inflation {
	border-top: 1px solid #e2e2e2;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	width: 945px;
	clear: left;
	position: relative;
	border-bottom: 1px solid #e2e2e2;
}
.interactive {
	line-height: 1.125rem;
	font-size: 0.875rem;
	width: 945px;
}


.little-img-text {
	font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  position: inherit;
}

.image-text-container {
	position: absolute;
	width: 228px;
}

#g-1 {
	top: 37.8264%;
  left: 0.0436%;
}

#g-2 {
	top: 37.8264%;
  left: 25.5619%;
}

#g-3 {
	top: 37.8264%;
  left: 51.0800%;
}

#g-4 {
  top: 37.8264%;
  left: 76.5982%;
}

#g-5 {
	top: 78.4375%;
  left: 0.0436%;
}

#g-6 {
	top: 78.4375%;
  left: 25.5619%;
}

#g-7 {
	top: 78.4375%;
	left: 51.0800%;
}

#g-8 {
	top: 78.4375%;
	left: 76.5982%;
}

.video-container {
	margin-top: 30px;
	margin-bottom: 10px;
}

.image {
	margin-top: 45px;
}

#bicep2 {
	margin-bottom: 45px;
}

.story-footer {
	width: 570px;
	margin-left: 75px;
	margin-bottom: 20px;
}

.story-footer-links a {
	color: #999;
}

.little-line {
	  width: 60px;
    content: '';
    display: inline-block;
    height: 1px;
    margin: 0 0 13px 0;
    background-color: #000;
}

.pipe {
	color: #ccc;
}

.story-print-citation {
	font-size: 0.6875rem;
	line-height: 0.9375rem;
	font-weight: 300;
	font-style: normal;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	color: #999;
}

#whats-next {
	margin-bottom: 20px;
	width: 715px;
	display: inline-block;
}

#whats-next section {
	width: auto;
}

#whats-next header {
	padding: 9px 0 13px 0;
	display: flex;
}

#whats-next a {
	color: #000;
}

.other-stories {
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	padding-top: 7px;
	margin: 0 auto 35px auto;
	padding: 0;
}

.section-heading {
	font-size: 16px;
  font-size: 1.0625rem;
  line-height: 17px;
  line-height: 1.0625rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  float: left;
}

.user-action {
  font-size: 0.6875rem;
  line-height: 11px;
  line-height: 0.6875rem;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  float: right;
  margin: 5px 0 0 0;
}

#whats-next .user-action a:link {
	color: #6288a5;
}

h2 a:link {
	color: #000;
}

a:link {
	text-decoration: none;
}

.menu {

}

.story {

}

.wide-thumb {

}

.headline {
	font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
  font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
}

.menu li {
	width: 210px;
	display: inline-block;
	vertical-align: text-top;
	margin-left: 37px;
	height: 218px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0 0 1em 0;
}

.module {
	width: 360px;
	display: block;
  float: right;
  clear: right;
  margin: 0 0 45px 30px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

aside ol {
	list-style-type: decimal;
}

ol a {
	min-height: 40px;
}

#whats-next li:nth-child(1) {
	margin-left: 0;
	margin-right: 0;
}

#whats-next li:nth-child(4) {
  margin-left: 0;
  margin-right: 0;
}

#whats-next li:nth-child(3) {
	margin-right: 0;
}