#main-header {
	position: fixed;
	margin-left: 30px;
	min-width: 315px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000090;
  height: 47px;
  border-bottom: 1px solid #CCCCCC;
}

body {
	font-family: "cheltenham",georgia,"times new roman",times,serif;
  color: #333;
}

#sidebar {
	width: 30px;
	position: fixed;
	height: 100%;
}

#article-suggestions {
	position: relative;
  height: 100px;
  overflow: hidden;
  z-index: 1000000030;
  border-top: 1px solid #ccc;
  margin-left: 30px;
}

#center {
	margin-top: 7px;
}

main {
	width: 1125px;
	margin-right: 113px;
	margin-left: 113px;
	margin-bottom: 20px;
}

#article-header {
  margin-bottom: 20px;	
}

.kicker {
	font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  color: #000;
  margin-bottom: 32px;
}

.kicker-label {
	font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  letter-spacing: 0.05em;
}

.headline {
	font-size: 2.125rem;
	font-weight: 700;
	margin-bottom: 10px;
}

#story-footer {
	padding-top: 14px;
  border-top: 1px solid #e2e2e2;
}

.image-container {
	margin-bottom: 7px;
	display: block;
}

img {
	height: auto;
	max-width: 100%;
}

figcaption {
	max-width: 615px;
	font-size: 0.875rem;
	line-height: 1.125rem;
	font-weight: 300;
	margin-bottom: 45px;
	color: #666;
}

.credit {
	font-size: 0.6975rem;
	color: #999;
	line-height: 1.5;
}

.credit-container {
	
}

.story-body {
	width: 705px;
}

.story-body-text {
	width: 570px;
	margin-left: 75px;
	margin-bottom: 17px;
	line-height: 1.625rem;
	font-size: 1.0625rem;
}

strong {
	font-weight: 700;
}

.interactive-headline {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 3px;
}

#theory-of-inflation {
	border-top: 1px solid #e2e2e2;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	width: 945px;
	clear: left;
	position: relative;
	border-bottom: 1px solid #e2e2e2;
}
.interactive {
	line-height: 1.125rem;
	font-size: 0.875rem;
	width: 945px;
}


.little-img-text {
	font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  position: inherit;
}

.image-text-container {
	position: absolute;
	width: 228px;
}

#g-1 {
	top: 37.8264%;
  left: 0.0436%;
}

#g-2 {
	top: 37.8264%;
  left: 25.5619%;
}

#g-3 {
	top: 37.8264%;
  left: 51.0800%;
}

#g-4 {
  top: 37.8264%;
  left: 76.5982%;
}

#g-5 {
	top: 78.4375%;
  left: 0.0436%;
}

#g-6 {
	top: 78.4375%;
  left: 25.5619%;
}

#g-7 {
	top: 78.4375%;
	left: 51.0800%;
}

#g-8 {
	top: 78.4375%;
	left: 76.5982%;
}

.video-container {
	margin-top: 30px;
	margin-bottom: 10px;
}

.image {
	margin-top: 45px;
}

#bicep2 {
	margin-bottom: 45px;
}

.story-footer {
	width: 570px;
	margin-left: 75px;
	margin-bottom: 20px;
}

.story-footer-links a {
	color: #999;
}

.little-line {
	  width: 60px;
    content: '';
    display: inline-block;
    height: 1px;
    margin: 0 0 13px 0;
    background-color: #000;
}

.pipe {
	color: #ccc;
}

.story-print-citation {
	font-size: 0.6875rem;
	line-height: 0.9375rem;
	font-weight: 300;
	font-style: normal;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	color: #999;
}

#whats-next {
	margin-bottom: 20px;
}

#whats-next section {
	width: auto;
}

#whats-next header {
	padding: 9px 0 13px 0;
}

.other-stories {
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	padding-top: 7px;
	margin: 0 auto 35px auto;
	padding: 0;
}

.section-heading {
	font-size: 17px;
  font-size: 1.0625rem;
  line-height: 17px;
  line-height: 1.0625rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  float: left;
}

.user-action {
	font-size: 11px;
  font-size: 0.6875rem;
  line-height: 11px;
  line-height: 0.6875rem;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  float: right;
  margin: 5px 0 0 0;
}

.user-action a:link {
	color: #6288a5;
}

h2 a:link {
	color: #000;
}

a:link {
	text-decoration: none;
}